.footer {
    margin: 0 auto;
}

.footer-info {
    text-align: center;
    align-items: center;
}

.footer-logo {
    margin: 30px auto;
    width: 105px;
}


/* .footer-logo-image {} */

.footer-navigation {
    text-align: center;
    align-items: center;
}

.footer-nav-list {
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.footer-nav-item {
    list-style-type: disc;
    padding-right: 10px;
    list-style-position: inside;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #8F95A5;
    margin-bottom: 20px;
}

.footer-nav-item:first-child {
    list-style: none;
}